# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
*.env

# IDEs and editors
.idea/
.vscode/
*.code-workspace

# pytest
.cache/
.pytest_cache/